<div class="signup_container">
  <div class="signup_card">
    <div>
      <div class="logo_body">
        <img height="85px" src="../../../assets/images/forgot_img.png" />
      </div>
      <br />
      <div class="header" style="text-align: center">
        <p class="heading_1">Forgot Password?</p>
        <p class="heading_2">Please, enter your email address</p>
      </div>
      <div class="col-12" style="height: 85px; margin-bottom: 5px">
        <app-input-text
          [formGroup]="forgotform"
          [name]="'email'"
          [placeholder]="'Enter your email id '"
          [label]="'Email Id '"
          [type]="'email'"
          [icon]="'pi pi-envelope'"
          [error]="
            inputRequiredValidation(forgotform, 'email')
              ? 'Email is required.'
              : inputPatternValidation(forgotform, 'email')
              ? 'Enter valid e-mail address'
              : errorList['']
          "
        >
        </app-input-text>
      </div>
      <br />
      <div class="submit_button" style="text-align: center">
        <app-button
          [type]="'submit'"
          (submitForm)="submit()"
          [label]="'RESET PASSWORD'"
          [disabled]="this.forgotform.invalid"
        ></app-button>
      </div>

      <div class="for_signup" style="text-align: center; margin-top: 20px">
        <p class="paragraphTerms" style="font-family: Oswald !important">
          <span class="terms" style="font-size: 16px; margin-left: 3px">
            <a
              style="color: #ffffff; text-decoration: none"
              routerLink="/auth/login"
            >
              <i class="pi pi-arrow-left"></i> &nbsp; Back to log in</a
            ></span
          >
        </p>
      </div>
    </div>
  </div>
</div>
