<div class="songs_management">
  <div class="songs_container">
    <div class="songs_header grid">
      <div>
        <h3 class="allsongsText">All Songs</h3>
      </div>
      <div style="margin-left: auto; margin-right: 10px; position: relative">
        <app-input-text
          [formGroup]="search"
          [placeholder]="'Search Songs...'"
          [type]="'text'"
          [name]="'search'"
          [icon]="'pi pi-search'"
          (keyup)="searchtable($event)"
        >
        </app-input-text>
        <i
          *ngIf="searchText != ''"
          style="
            position: absolute;
            right: 15px;
            top: 6px;
            font-weight: 700;
            cursor: pointer;
          "
          (click)="searchClear()"
          class="pi pi-times"
        ></i>
      </div>
      <div>
        <app-button
          [buttonicon]="'pi pi-cloud-upload'"
          [type]="'button'"
          (submitForm)="uploadSong()"
          [label]="'Upload Song'"
        ></app-button>
      </div>
    </div>
  </div>
  <div>
    <p-table [value]="songs">
      <ng-template pTemplate="header">
        <tr>
          <th>Poster</th>
          <th>Title</th>
          <th>Duration</th>
          <th>Genre</th>
          <th>Location</th>
          <th>Upload On</th>
          <th>Live</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-song>
        <tr>
          <td *ngIf="song.thumbnail == null">
            <img src="{{ defaultthumbnail }}" height="60px" width="60px" />
          </td>
          <td *ngIf="song.thumbnail != null">
            <img src="{{ song.thumbnail }}" height="60px" width="60px" />
          </td>
          <td>{{ song.title }}</td>
          <td>{{ song.duration | minutes }}</td>
          <td style="max-height: 97.44px; text-align: center; max-width: 200px">
            <div
              style="
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
              "
            >
              <span *ngFor="let genre of song.genres" class="forComma"
                >{{ genre.genre_name }}
              </span>
            </div>
          </td>
          <td>
            {{ song.cityName }}, {{ song.stateName }},
            {{ song.country }}
          </td>
          <td>{{ song.createdAt | date : "dd/MM/YY" }}</td>
          <td>
            <p-inputSwitch
              class="live_Class"
              [(ngModel)]="song.live"
              (onChange)="songLive(song.id, song.live)"
            ></p-inputSwitch>
          </td>
          <td class="actionicon">
            <span>
              <i
                (click)="song?.live == false ? editSong(song) : ''"
                class="actionicon"
                style="cursor: pointer"
                class="pi pi-pencil"
                [ngClass]="song?.live == true ? 'disableicons' : ''"
              ></i>
              &nbsp;
              <i
                (click)="
                  song?.live == false ? deleteSong(song.id, song.band.id) : ''
                "
                class="actionicon"
                style="cursor: pointer"
                [ngClass]="song?.live == true ? 'disableicons' : ''"
                class="pi pi-trash"
              ></i>
              &nbsp;
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">
            <b style="font-size: 18px; font-weight: 500"> No Records Found </b>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="totalSongs > 0">
      <p-paginator
        [rows]="perPage"
        [totalRecords]="totalSongs"
        [rowsPerPageOptions]="[1, 2, 10, 50, 100]"
        (onPageChange)="paginate($event)"
        [templateLeft]="leftSide"
        #pagin
      >
      </p-paginator>
      <ng-template #leftSide>
        Showing {{ totalSongs < 1 ? 0 : pagin.first + 1 }} to
        {{
          totalSongs > 0
            ? pagin.rows + pagin.first <= totalSongs
              ? pagin.rows + pagin.first
              : totalSongs
            : 0
        }}
        of {{ totalSongs ? totalSongs : 0 }} entries
      </ng-template>
    </div>
  </div>
</div>
<div class="confirmationdialog">
  <p-dialog [(visible)]="display" [draggable]="false">
    <div class="text-center">
      <i class="pi pi-info-circle info_icon"></i>
      <p class="warning_message">Are you sure you want to delete this song?</p>
      <div class="deletFooter">
        <span class="backgroundButton">
          <p-button (click)="deleteCancel()" label="CANCEL"></p-button>
        </span>
        &nbsp;
        <p-button (click)="deleteconfirm()" label="Yes, delete"></p-button>
      </div>
    </div>
  </p-dialog>
</div>
<!-- songsUpload -->
<div>
  <p-dialog
    [header]="modalHeader"
    [modal]="true"
    [(visible)]="songsUploadModal"
    [style]="{ width: '900px' }"
    [draggable]="false"
    styleClass="active"
    [contentStyle]="{
      'overflow-y': 'visible',
      'overflow-x': 'visible'
    }"
  >
    <div class="model_card_body">
      <div>
        <div class="grid">
          <div class="col-6 text-center" [formGroup]="songsForm">
            <span class="d-flex" style="display: flex; justify-content: center">
              <input
                class="upload-img"
                accept="image/png , image/jpeg, image/gif"
                id="file-upload-img"
                type="file"
                formControlName="thumbnail"
                (change)="Imageupload($event)"
                style="display: none"
              />
              <div class="upload-btn-outer">
                <label
                  for="file-upload-img"
                  type="button"
                  class="Upload-btn btn-sm cursor"
                >
                  <i class="pi pi-cloud-upload pr-2 upload_icon cursor"></i>
                  Upload poster
                </label>
              </div>
            </span>
            <br />
            <p class="info-msgs">
              <i class="pi pi-info-circle"></i> &nbsp;
              <span style="position: relative">
                Upload only .jpeg's , .png's and .gif's images
              </span>
            </p>
          </div>
          <div class="col-6 text-center">
            <div
              [formGroup]="songsForm"
              class="d-flex"
              style="display: flex; justify-content: center"
            >
              <input
                formControlName="song"
                type="file"
                accept="audio/mpeg , audio/wav , audio/x-m4r"
                id="file-upload"
                #songAudioElement
                (change)="uploadAudio($event)"
                style="display: none"
              />
              <div class="upload-btn-outer">
                <label
                  for="file-upload"
                  type="button"
                  class="Upload-btn btn-sm cursor"
                >
                  <i class="pi pi-cloud-upload pr-2 upload_icon cursor"></i>
                  Upload song
                </label>
              </div>
            </div>
            <br />
            <p class="info-msgs">
              <i class="pi pi-info-circle"></i> &nbsp;
              <span style="position: relative">
                Upload only .mp3 and .wav songs.
              </span>
            </p>
          </div>

          <div class="col-6 p-0 m-0">
            <div *ngIf="uploadimageSrc">
              <div style="text-align: center; position: relative">
                <img
                  height="160"
                  style="object-fit: cover"
                  width="160"
                  class="uploadpicture"
                  src="{{ uploadimageSrc }}"
                />
                <p
                  (click)="removeImg()"
                  class="imagedeleteicon p-0 m-0"
                  style="cursor: pointer"
                >
                  <i
                    class="pi pi-times-circle"
                    style="color: #fff; font-size: 16px; cursor: pointer"
                  ></i>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 p-0 m-0">
            <div *ngIf="showAudiodata">
              <div style="text-align: center; position: relative">
                <img
                  height="160"
                  style="
                    object-fit: cover;
                    background: rgba(220, 247, 99, 0.18);
                    padding: 20px;
                  "
                  width="160"
                  class="uploadpicture"
                  src="../../../assets/images/audioimage.png"
                />
                <p
                  (click)="removeAudio()"
                  class="imagedeleteicon p-0 m-0"
                  style="cursor: pointer"
                >
                  <i
                    class="pi pi-times-circle"
                    style="color: #fff; font-size: 16px; cursor: pointer"
                  ></i>
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr_class" />
        <br />
        <div class="grid">
          <div class="col-6 py-0 my-0 inputtitleText">
            <app-input-text
              [name]="'title'"
              [label]="'Title'"
              [formGroup]="songsForm"
              [placeholder]="'Enter title'"
              [type]="'text'"
              [error]="
                inputRequiredValidation(songsForm, 'title')
                  ? 'Title is required.'
                  : inputPatternValidation(songsForm, 'title')
                  ? 'Title must contain atleast one alphabet'
                  : errorList['']
              "
            ></app-input-text>
          </div>
          <div class="col-6 py-0 my-0">
            <div>
              <app-autocomplete
                name="cityName"
                [formGroup]="songsForm"
                [options]="{
                  types: ['(cities)'],
                  componentRestrictions: { country: 'US' }
                }"
                (changeAddress)="Address($event)"
                [placeholder]="'Enter city'"
                [label]="'City'"
                style="height: 38px"
              ></app-autocomplete>
              <div>
                <small
                  class="p-error"
                  [innerHTML]="
                    inputRequiredValidation(songsForm, 'cityName')
                      ? 'city is required'
                      : venueChecking(songsForm, 'cityName')
                      ? 'Enter valid cityName'
                      : '&nbsp;'
                  "
                ></small>
              </div>
            </div>
          </div>
          <div class="col-6 py-0 my-0" style="position: relative">
            <label>Genre</label>
            <div class="pt-2"></div>
            <div [formGroup]="songsForm">
              <p-multiSelect
                [options]="genreOptions"
                defaultLabel="Select genres"
                display="chip"
                formControlName="genre"
                optionLabel="name"
                [filter]="false"
              ></p-multiSelect>

              <div>
                <small
                  class="p-error"
                  [innerHTML]="
                    inputRequiredValidation(songsForm, 'genre')
                      ? 'Genre is required'
                      : '&nbsp;'
                  "
                ></small>
              </div>
            </div>
          </div>

          <div class="col-8"></div>

          <div class="col-2 text-center">
            <span class="cancelButton">
              <p-button
                (click)="songsModalClose()"
                label="Cancel"
                class="modelCancelButton"
              ></p-button>
            </span>
          </div>
          <div class="col-2">
            <div style="max-width: 100px">
              <p-button
                label="Save"
                (click)="saveSong()"
                [type]="'submit'"
                [loading]="songButton"
                class="modelSaveButton"
                [disabled]="songsForm.invalid || !fileAudio || cityCheck"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  size="medium"
  color="#fff"
  [fullScreen]="true"
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />">
</ngx-spinner> -->
