.labelNames {
  margin-bottom: 8px;
}

::ng-deep {
  .p-error {
      color: #ff0000;
    }
  .p-autocomplete .p-autocomplete-loader {
    display: none;
  }
  p-autocomplete.ng-dirty.ng-invalid > .p-autocomplete > .p-inputtext {
    border-color: rgba(240, 240, 240, 0.3);
  }
  .p-inputtext:enabled:hover {
    border-color: rgba(240, 240, 240, 0.3);
  }
  // .p-error {
  //         color: red;
  //     }
  .textbox {
    .p-inputtext:enabled:focus {
      box-shadow: none;

      border: 0.6px solid rgba(240, 240, 240, 0.3);
    }

    .p-component {
      font-family: Oswald !important;
      font-size: 14px !important;
      font-weight: 400;
      width: 100%;
      border-radius: 0px;
    }

    .p-inputtext {
      padding-left: 30px !important;
      width: 100%;
      background: #0f0f0f !important;
      border: 0.6px solid rgba(240, 240, 240, 0.3);
      color: #fff;
      height: 38px;
    }

    .p-input-icon-left > i:first-of-type {
      left: 0.5rem;
      color: #dcf763;
    }
  }
}
