@import "../../../colors.scss";

font {
    font-family: $font !important;
}

.header {
    font-family: $font !important;

    .p {
        margin: 0px;
    }

    .heading_1 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-weight: 500;
        Line-height: 24px;
        font-size: 32px;
    }

    .heading_2 {
        margin-top: 10px !important;
        font-size: 15px;
        font-weight: 400;
        Line-height: 24px;
    }
}

.signup_container {
    background-image: url(./../../../assets/images/bg-img-main.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_card {
    color: #fff;
    background: rgba(51, 51, 51, 0.3);
    border: 0.6px solid rgba(240, 240, 240, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
    width: 520px;
    height: fit-content;
    padding: 50px;
    font-size: 16px !important;
}

.logo_body {
    text-align: center;
}

.submit_button {
    ::ng-deep {
        .p-button {
            font-size: 14px;
            font-family: $font !important;
            width: 190px;
        }
    }

}