$primary:#DCF763;
$secondary: black;

// Modal colors
$modelbg:#181818;

// Avaatar babckground
$avatarbg:#3F3F3F;

$font: Oswald !important;
$inputBorder : 0.6px solid rgba(240, 240, 240, 0.3);
$inputBg : #0f0f0f;
$secondaryBg : #0f0f0f;
$contentBorder : 0.6px solid rgba(240, 240, 240, 0.2);
$infocolor: rgba(255, 255, 255, 0.4);
//  table
$tableHeaderBg : #333333;
$tableBg : #202020;
$tableBorder : 0.6px solid rgba(240, 240, 240, 0.2);
//  model
$modelBg : #282828;
$modelHeaderBg : #282828;
$modelBorder : 0.6px solid rgba(240, 240, 240, 0.2);