.songs_management {
  background-color: #100b00;
  height: calc(100vh - 72px);
  padding: 20px;
  color: #fff;
  overflow-y: auto;

  .grid {
    margin: 0px;
  }

  .allsongsText {
    margin-top: 0px;
    padding-bottom: 7px;
    color: $primary;
    font-weight: 500;
    border-bottom: 3px solid $primary;
  }

  ::ng-deep {
    .p-button {
      width: 160px !important;
      height: 40px !important;
      font-weight: 500;
      font-size: 14px !important;
      // font-family: Oswald !important;
    }

    .textbox .p-inputtext {
      border: 2px solid #ccc !important;
      border-radius: 40px !important;
      width: 220px !important;
      background: #0f0f0f00 !important;
    }

    .textbox .p-input-icon-left > i:first-of-type {
      color: #ccc !important;
      margin-top: -5px;
      font-size: 14px;
      margin-left: 3px;
    }
  }
}

//for-table
::ng-deep {
  .inputtitleText {
    .textbox {
      .p-inputtext {
        padding-left: 10px !important;
      }
    }
  }

  .p-datatable {
    font-weight: 300 !important;
    // letter-spacing: 1px;
    font-size: 15px !important;
    font-family: Oswald !important;
    letter-spacing: 0.02em;
  }

  .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    padding: 15px;
    border: 0.6px solid rgba(240, 240, 240, 0.2);
    font-weight: 400;
    border-width: 0px 0px 1px 0px;
    color: #fff;
    background: #333333;
    box-shadow: none !important;
  }

  .p-table {
    color: white;
  }

  .p-datatable .p-datatable-tbody > tr {
    background: #202020;
    text-align: center;
    color: white;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    // font-size: 14px !important;
    min-width: 90px;
    white-space: nowrap;
    border: 0.6px solid rgba(240, 240, 240, 0.2);
    font-weight: 300;
    border-width: 0px 0px 1px 0px;
  }
}

.actionicon {
  font-family: normal !important;
}

.info_icon {
  color: $primary;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.warning_message {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  padding-bottom: 0;
  // color: #fff;
  color: rgb(255, 255, 255);
  font-family: Oswald !important;
}

::ng-deep {
  .pi {
    margin-top: 4px;
  }

  .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500;
    font-size: 18px;
    color: $primary;
  }

  .p-dialog .p-dialog-header {
    border-radius: 0px;
    background: rgb(40, 40, 40);
    border: 0.6px solid rgba(240, 240, 240, 0.2);
    height: 55px;
  }

  .p-dialog .p-dialog-footer {
    display: none;
    border-radius: 0px;
  }

  .p-dialog .p-dialog-content {
    background: rgb(40, 40, 40);
    overflow: hidden;
    // max-height: 80vh;
    // min-height: 250px;
    // background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    border: 0.6px solid rgba(240, 240, 240, 0.2);
    border-radius: 0px !important;
  }

  .p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    // border-radius: none !important;
  }

  .deletFooter {
    .p-button {
      font-family: normal;
      height: 42px;
      width: 150px;
      border-radius: 30px;
      background-color: $primary;
      color: black;
      border-color: $primary;
    }

    .p-button:focus {
      box-shadow: none;
    }

    .backgroundButton {
      margin-left: 20px;

      .p-button {
        background-color: transparent;
        color: $primary;
        border-color: $primary;
        font-family: sans-serif !important;
      }

      .p-button:enabled:hover {
        background: none !important;
        color: $primary;
        border-color: $primary;
      }
    }

    .p-button:enabled:hover {
      background: $primary !important;
      color: #000000;
      border-color: $primary;
    }
  }

  .p-multiselect {
    min-width: 100%;
    border-radius: 0px;
    max-width: 100%;
    height: 38px;
    background: #0f0f0f;
    border: 0.6px solid rgba(240, 240, 240, 0.2);
  }

  .p-multiselect:not(.p-disabled):hover {
    border-color: rgba(240, 240, 240, 0.2);
  }

  p-multiselect.ng-dirty.ng-invalid > .p-multiselect {
    border: 0.6px solid rgba(240, 240, 240, 0.2);
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-label {
    height: 38px;
    padding-top: 8px;
  }

  .p-multiselect:not(.p-disabled).p-focus {
    border-color: rgba(240, 240, 240, 0.2);
    box-shadow: none !important;
  }

  .p-multiselect-panel {
    background: #0f0f0f;
    color: #495057;
    border: 0 none;
    border-radius: 0px;
    box-shadow: none;
  }

  .p-multiselect-panel .p-multiselect-header {
    display: none;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    color: white;
    box-shadow: none;
    font-size: 15px;
  }

  .p-multiselect-panel
    .p-multiselect-items
    .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    color: $primary;
    background: #0f0f0f;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: $primary;
    background: #0f0f0f;
  }

  .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

  .p-checkbox .p-checkbox-box {
    border: 2px solid #ced4da;
    background: transparent;
    width: 20px;
    height: 20px;
    color: #ffffff;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary;
    background: $primary;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: $primary;
    background: $primary;
    color: #000000;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: $primary;
  }

  .p-multiselect.p-multiselect-chip .p-multiselect-token {
    padding: 0.375rem 0.75rem;
    background: transparent;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid white;
  }

  .p-multiselect.p-multiselect-chip
    .p-multiselect-token
    .p-multiselect-token-icon {
    margin-left: 0.5rem;
    margin-top: 0px;
  }
}

.Upload-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background-color: $primary;
  text-align: center;
  padding: 10px 20px;
  color: #000;
  border: 1px solid $primary;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 30px;
  cursor: pointer;
}

::ng-deep {
  .p-button {
    height: 39px;
    width: 100px;
    border-radius: 30px;
    background-color: $primary;
    color: black;
    border-color: $primary;
  }

  .p-button:enabled:hover {
    background: $primary;
    color: #000000;
    border-color: $primary;
  }

  .p-button:enabled:active {
    background: $primary;
    color: #000000;
    border-color: $primary;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .cancelButton {
    .p-button:enabled:hover {
      background: transparent;
      color: $primary;
    }

    .p-button:enabled:active {
      background: transparent;
      color: $primary;
    }

    .p-button {
      background-color: transparent;
      color: $primary;
      width: 110px;
      border-color: $primary;
      font-family: sans-serif !important;
    }
  }
}

.model_card_body {
  font-family: Oswald !important;
}

.info-msgs {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #fff6;
  margin-top: 0px;
}

.hr_class {
  border: 0.6px solid rgba(240, 240, 240, 0.4);
}

::ng-deep {
  .p-component {
    font-family: Oswald !important;
  }

  .p-inputtext {
    height: 38px;
  }
}

.confirmationdialog {
  ::ng-deep {
    .p-dialog .p-dialog-header {
      display: none;
    }
  }
}

.imagedeleteicon {
  position: absolute;
  top: -1px;
  right: 32%;
}

.uploadpicture:hover {
  opacity: 0.7;
}

.imagedeleteicon {
  visibility: hidden;
}

.uploadpicture:hover + .imagedeleteicon {
  visibility: visible;
}

.imagedeleteicon:hover {
  visibility: visible;
}

::ng-deep {
  .p-component {
    font-family: Oswald !important;
    font-size: 14px !important;
  }

  .p-inputtext {
    font-family: Oswald !important;
    font-size: 14px !important;
  }

  .pac-container {
    z-index: 2207;
  }
}

::ng-deep {
  .p-error {
    color: red;
  }

  .p-paginator {
    background: #000000;
    color: #f0f0f0;
    border: solid #e9ecef;
    border-width: 0;
    // padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #202020;
    border-color: #202020;
    color: #f1ffff;
    border-radius: 3px;
    // min-width: 45px;
    // min-height: 45px;
    // max-height: 45px;
  }

  .p-paginator .p-dropdown {
    background: #202020;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    height: 40px;
    min-height: 45px;
    max-height: 45px;
  }

  .p-dropdown-label {
    padding-top: 13px !important;
    margin-left: 6px;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: none;
  }

  .p-dropdown-items-wrapper {
    overflow: none;
    background: #0f0f0f;
    border-radius: 0px;
    color: white !important;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: white;
    background: #0f0f0f;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: white;
    background: #0f0f0f;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: white;
    background: #202020;
  }

  .p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
  }
}

.disableicons {
  opacity: 0.5;
  cursor: context-menu !important;
}

.forComma:not(:last-child):after {
  content: ", ";
}

.forComma:last-child:after {
  content: "";
}

::ng-deep {
  .p-inputswitch {
    height: 0.75rem !important;
  }

  .p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none !important;
  }

  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    border-color: $primary !important;
  }

  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: $primary !important;
  }

  .p-inputswitch .p-inputswitch-slider {
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    box-shadow: none;
    background: transparent !important;
    height: 14px;
    width: 36px;
    border: 2px solid #ffffff;
  }

  .p-inputswitch .p-inputswitch-slider:before {
    box-shadow: none;
    left: -3px;
    transition-duration: 0.2s;
  }

  .p-button-label {
    font-weight: 500;
  }

}
